<div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/1200×350/?movie)">
  <div class="card-category-name"><h1>Create a new list</h1></div>
</div>


<div class="container">
  <%= render "form", list: @list %>
</div>
