.card-category {
  background-size: cover;
  background-position: center;
  height: 350px;
  position: relative;

  .card-category-name {
    position: absolute;
    height: 100px;
    top: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  p {
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 10px;
    background-color: $yellow;
    border-radius: 5px;
  }

  h1 {
    color: $white;
    text-align: center;
  }
}
